<html lang="en">
<head>
<!--
- sort and display users by weight loss. DONE
- array function to take new weight, caculate weight loss, add to array, redisplay
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
<link rel="stylesheet" href="libs/bootstrap.min.css">
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="libs/bootstrap-theme.min.css">
<script src="libs/bootstrap.min.js"></script>
<script src="libs/angular.min.js"></script>
<!--ui-bootstrap needed for collasping the nav. Can also learn angularStrap -->
<script src="libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="10MON.css"/>
<script src="10MON.js"></script>
<script src="logIn.controller.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/> 
<meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1" charset="utf-8">    
<title>Chasing the 10 Pound Monster</title>
</head>
<!--sets the HTML document to a angularJS app call myApp -->
<body ng-app="myApp" ng-controller="monsterController" >
<!--creates a navigation area, fixed to the top of the screen, and set it to "Bootstrap" default -->
<nav class="navbar-default" >
  <!-- -->
    <div class="container-fluid navColor">
        <div class="row">
            <!--Display title of the app & link to Player Ranking Page -->
            <div class= "col-xs-12 col-sm-12 col-md-12 col-lg-12">             
                <h1 class="text-center appTitle" ng-click="navigation('logInPage')">Chasing the 10 Pound Monster</h1>
            </div>
            <!--Nav link to Player Ranking Page -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 navLinkTextRight">
                <a href="#" class="btn btn-link" role="button" ng-click="navigation('rankingPage')"><h4 class="navTitle">Player Ranking</h4></a>
            </div>
            <!--Nav Link to Weigh-In Page -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 leftAlign">
                <a href="#" class="btn btn-link" role="button" ng-click="navigation('weighInPage'); getRandomQuote()"><h4 class="navTitle">Weigh-In</h4></a>
            </div>
        </div>
    </div>
</nav>   
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div><!--end of left main column  -->
        
            <!-- Start of LogIn Page-->
            <div ng-include="'logInPage.html'" ng-show="view=='logInPage'" >                
            </div><!--end of Log-in Page-->
            
            <!-- Start of Ranking Page-->
            <div ng-include="'rankingPage.html'" ng-show="view=='rankingPage'">
            </div><!--end of Ranking Page-->
        
            <!--Start of weighIn Page-->
            <div ng-include="'weighIn.html'" ng-show="view=='weighInPage'">           
            </div><!--end of Weigh-In Page-->
            
            <!--Start of New Player Set-up Page-->
            <div ng-show="join=='setUpPage'" ng-include="'newPlayer.html'">
            </div><!--End of New Player Setup page -->
        
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3 "></div><!--end of right main column-->
    </div><!--end of row that contains the body -->
    <footer>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centerAlign">
            <a href="#" class="btn btn-link" role="button"><i class="fa fa-sign-out" aria-hidden="true" style="color:#333333" ng-click="logOut()">Log Out</i></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centerAlign">
            <p>Developed by JC Smiley</p>
        </div>
    </footer>
</div><!--end of container of the row that contains the body -->
</body>    
</html>